@inherits LayoutComponentBase
@inject IUserInterface _usersService
@inject IPostInterface _postService
@inject ICommentsInterface _commentsService
<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg bg-info text-white">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Twitter Clone</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <select class="form-select" aria-label="Default select example" @onchange="HandleUserSelection">
                            <option value="">Select a User</option>
                            @foreach (var user in _users)
                            {
                                <option value="@user.id">@user.name</option>
                            }
                        </select>
                    </form>
                </div>
            </div>
        </nav>

        <article class="content">
            @if (selectedUser != null)
            {
                <div class="card bg-light">
                    <img src="https://cdn.pixabay.com/photo/2018/03/10/09/45/businessman-3213659_1280.jpg"
                        class="card-img-top img-fluid" alt="Cover Pic" style="height: 100px; object-fit: cover;">
                    <div class="card-body">
                        <img src="https://cdn.pixabay.com/photo/2017/04/01/21/06/portrait-2194457_1280.jpg" alt=""
                            style="height: 100px; width: 100px; border-radius: 50%; object-fit: cover; float: left; margin-right: 10px; margin-bottom: 10px; position: absolute; top: 20px;">
                        <h5 class="card-title">@selectedUser.name</h5>
                        <p class="card-text">@selectedUser.username</p>
                        <p class="card-text">@selectedUser.website</p>
                        <p class="card-text">@selectedUser.company.catchPhrase</p>
                        <p class="card-text">@selectedUser.address.city</p>

                    </div>
                </div>
                @* posts card *@
                <div class="row">
                    @foreach (var post in _posts)
                    {
                        <div class="card col-6">
                            <div class="row no-gutters" @onclick="showComments">
                                <div class="col-sm-5">
                                    <img class="img-fluid"
                                        src="https://cdn.pixabay.com/photo/2017/04/01/21/06/portrait-2194457_1280.jpg"
                                        alt="User Card">
                                </div>
                                <div class="col-sm-7" >
                                    <div class="card-body">
                                        <h5 class="card-title">@post.title</h5>
                                        <p class="card-text">@post.body</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @*comments card*@
                    @foreach (var comment in _comments)
                    {
                    <div class="card col-6">
                        
                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="img-fluid"
                                         src="https://cdn.pixabay.com/photo/2017/01/06/20/19/social-1958774_1280.jpg"
                                         alt="Suresh Dasari Card">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">@comment.name</h5>
                                        <p class="card-text">
                                            @comment.body
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
}
                </div>
            }

            @Body
        </article>
    </main>
</div>

@code {

    private List<Posts> _posts = new List<Posts>();
    private List<Comments> _comments = new List<Comments>();

    private Users selectedUser;
    private List<Users> _users;
    private Posts selectedPost;

    protected override async Task OnInitializedAsync()
    {
        _users = await _usersService.GetusersAsync();
    }

    // show comments for the selected post
    private async void showComments()
    {
        selectedPost = _posts.FirstOrDefault();
        _comments = await _commentsService.GetcommentsAsync(selectedPost.id);
        Console.WriteLine(_comments.Count);
    }
    private async void HandleUserSelection(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int userId))
        {
            selectedUser = _users.FirstOrDefault(u => u.id == userId);
            _posts = await _postService.GetPostByUserIdAsync(selectedUser.id);
        }
        else
        {
            selectedUser = null;
        }
    }
}
